@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

body {
  font-family: Raleway, sans-serif;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  padding: 8px 12px;
  margin-top: 1%;
  height: 76px;
  color: #333;
}
.logo {
  color: #666;
  font-size: 40px;
  font-weight: bold;
  padding-left: 3%;
}
.logo:hover {
  color: #333;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
}

ul li a {
  padding: 8px 25px;
  color: #333;
  font-size: 15px;
  font-weight: bold;
}
ul li a:hover {
  color: #337ab7;
}

/* Font-family:"Raleway"
Headerhöhe:76px
Logofarbe: #666
Logofarbe in hover: #333
Menüfarbe: #333 
Menüfarbe in hover: #337ab7 */
